:root {
    --background-main: #E5E5EA;
    --btn-white: #ffffff;
    --text-black: #000000;
    --text-grey: #8E8E93;
    --input-color: #ffffff;
    --btn_clear: #804938;
    --text-white: #ffffff;
    --color-main: #FD8A65;
    --color-main-hover: #FFB299;
    --hover-color: rgba(0, 0, 0, 0.5);
    --color-error: #EC4D3D;
    --body-main: #ffffff;
    --input-grey: #F2F2F7;
    --remove-modal: #E6E6E6;
    --color-dash: #D1D1D6;
    --add-field: #AEAEB2;
}

@font-face {
    font-family: "SFPro";
    font-weight: 400;
    src: url('fonts/SF-Pro-Text-Light.otf');
}

@font-face {
    font-family: "SFPro";
    font-weight: 600;
    src: url('fonts/SF-Pro-Text-Semibold.otf');
}


div, label, h3, form, input, button, i {
    box-sizing: border-box;
    font-family: 'SFPro';
}

div, span, p, h1, h2, h3, h4, h5 {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    font-family: 'SFPro';
}

button:hover {
    opacity: 0.7;
}

p, h3 {
    margin: 0;
    text-rendering:geometricPrecision;
    font-family: 'SFPro';
}

input {
    padding: 0;
}

.auth {
    background-color: var(--background-main);
}

.auth_content {
    padding: 0 16px;
    width: 375px;
    height: auto;
    margin: auto;
    margin-top: 61px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 64px;
}

.auth_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
}

.auth_btn_groupe {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    background-color: var(--background-main);
}

.btn_white {
    cursor: pointer;
    width: 100%;
    height: 50px;
    border-radius: 50px;
    background-color: var(--btn-white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.text_btn {
    font-family: 'SFPro';
    font-weight: 600;
    font-size: 17px;
    color: var(--text-black);
}

.text_grey {
    font-family: 'SFPro';
    font-weight: 400;
    font-size: 15px;
    color: var(--text-grey);
}

.inputs_zone {
    background-color: var(--background-main);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
}

.auth_input_zone {
    width: 100%;
    height: 44px;
    padding: 0 16px;
    background-color: var(--input-color);
    border-radius: 10px;
    gap: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

input {
    background: none;
    border: none;
    flex: none;
    flex-grow: 1;
    font-size: 13px;
}

input:focus {
    outline: none;
}

.btn_clear {
    cursor: pointer;
    width: 100%;
    height: 44px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-family: 'SFPro';
    font-weight: 400;
    color: var(--btn_clear);
}


.btn-main {
    cursor: pointer;
    width: 100%;
    height: 44px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-family: 'SFPro';
    font-weight: 400;
    color: var(--text-white);
    background-color: var(--color-main);
}

.btn-main:active {
    background-color: var(--color-main-hover);
}

.hover {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background: var(--hover-color);
    display: none;
}

.reg_modal {
    position: fixed;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
    width: 375px;
    height: 412px;
    background-color: var(--background-main);
    z-index: 2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 16px;
    display: none;
} 

.modal-hat {
    width: 100%;
    height: 44px;
    background-color: var(--btn-white);
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn_back {
    cursor: pointer;
    height: 44px;
    width: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 17px;
    font-family: 'SFPro';
    font-weight: 400;
    color: var(--text-black) !important;
}

h3 {
    font-family: 'SFPro';
    font-weight: 600;
    font-size: 17px;
}

.reg_zone {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    padding: 0 16px;
}

.icon_small {
    width: 15px;
    height: 15px;
    background-size: cover;
}

.icon_send {
    background-image: url(icons/send.svg);
}
.icon_error {
    background-image: url(icons/error.svg);
}
.icon_clear {
    background-image: url(icons/clear.svg);
}

.input_btn {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: none;
}

.input_btn:hover i {
    opacity: 0.5;
}

.input_reg {
    padding-right: 0 !important;
}

.input_block {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
}

.error_text {
    font-size: 13px;
    font-family: 'SFPro';
    font-weight: 400;
    color: var(--color-error);
    display: none;
}

.input_error {
    color: var(--color-error);
}

.body_main {
    padding: 0;
    margin: 0;
    background-color: var(--body-main);
}

html {
    height: -webkit-fill-available;
}

body {
    max-height: -webkit-fill-available;
    height: 100vh;
    overflow: hidden;
}

.content {
    aspect-ratio: 9 / 19.5;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 14px;
    gap: 5px;
    overflow: hidden;
    padding: 8px;
    height: 100%;
}

.navigation_bar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
}

.btn_sort {
    width: 44px;
    height: 44px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 44px;
    background-image: url(icons/btn_sort.svg);
}

.header_title {
    text-align: center;
    font-family: 'SFPro';
    font-weight: 400;
    font-size: 22px;
    white-space: nowrap;
}

.btn_back_right {
    width: 11px;
    height: 19px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 11px;
    background-image: url(icons/btn_back_right.svg);
}

.header_btn_group_left {
    width: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header_btn_group_right {
    width: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navigation_btns {
    display: flex;
    gap: 4px;
    transform: translateY(4px);
}

.nav_button {
    width: 44px;
    height: 44px;
}

.nav_set {
    background-image: url(icons/nav_set.svg);
    background-size: cover;
}

.toolbar {
    height: 44px;
    background-color: var(--body-main);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 0 32px;
    border-radius: 110px;
}

.saved_btn {
    width: 42px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 42px;
    background-image: url(icons/bookmark.svg);
}

.saved_btn_active {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 42px;
    background-image: url(icons/bookmark_active.svg);
}

.my_bandle_btn {
    width: 22px;
    height: 22px;
    background-size: cover;
    background-image: url(icons/Logo.svg);
}

 .my_active {
    height: 30px;
    background-image: url(icons/logo_active.svg) !important;
}

.toolbar_separator {
    width: 2px;
    height: 10px;
    background-color: #8E8E93;
    border-radius: 2px;
}

.bandle_container {
    flex: none;
    flex-grow: 1;
    width: 100%;
    padding: 0 8px;
    overflow-x: auto;
    max-height: calc(100% - 130px);
}

.bandle_list {
    width: 100%;
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
}

.bandle_block {
    float: left;
    width: calc(50% - 4px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}

.bandle {
    width: 100%;
    aspect-ratio: 1 / 1.34;
    border-radius: 20px;
    border: 4px solid #E5E5EA;
}

.add_bandle_tytle {
    width: 100%;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'SFPro';
    font-weight: 400;
    font-size: 16px;
    white-space: nowrap;
    color: var(--text-grey);
}

.bandle_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bandle_add {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-image: url(icons/bandle_add.svg);
}

.bandle_add_hover:hover {
    opacity: 0.7;
}

.modal_body {
    margin: auto;
    margin-top: 25vh;
    width: 352px;
    padding: 0 8px;
    background-color: var(--body-main);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 28px;
    padding-bottom: 8px;
    gap: 16px;
}

.bandle_tytle_zone {
    width: 100%;
    flex: none;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.modal_header {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.modal_btn_close {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.modal_close {
    width: 22px;
    height: 44px;
    background-size: cover;
    background-image: url(icons/modal_close.svg);
}

.text_black {
    font-family: 'SFPro';
    font-weight: 400;
    font-size: 17px;
    color: var(--text-black) !important; 
}

.text_title {
    font-weight: 600 !important;
}

.modal_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    width: 100%;
}

.input_simple {
    width: 100%;
    height: 44px;
    background-color: var(--input-grey);
    border-radius: 10px;
    padding: 0 16px;
}

.modal_main_small {
    height: 44px;
    background-color: var(--color-main);
    color: var(--btn-white);
    border-radius: 40px;
    padding: 0 16px;
    font-family: 'SFPro';
    font-weight: 400;
    font-size: 17px;
    box-sizing: border-box;
}

.bandle_tytle {
    flex: none;
    flex-grow: 0;
    width: auto;
    font-family: 'SFPro';
    font-weight: 400;
    font-size: 15px;
    padding: 4px 16px;
    background-color: var(--input-grey);
    text-align: center;
    border-radius: 20px;
}

.modal_btn_group {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.modal_btn_remove {
    height: 44px;
    padding: 0 16px;
    color: var(--color-error);
    font-family: 'SFPro';
    font-weight: 400;
    font-size: 17px;
    border-radius: 40px;
    border: 1px solid var(--color-error);
}

.text_center {
    text-align: center;
}

.modal_btn_white {
    background-color: var(--body-main);
    border: 1px solid var(--color-main);
    color: var(--color-main);
}



.remove_modal_body {
    margin: auto;
    margin-top: 50vh;
    transform: translateY(-50%);
    width: 270px;
    background-color: var(--body-main);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
}

.remove_modal_content {
    padding: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--remove-modal);
}

.remove_modal_btn_group {
    width: 100%;
    height: 44px;
    display: flex;
}

.remove_modal_btn {
    width: 50%;
    height: 44px;
    font-family: 'SFPro';
    font-weight: 400;
    font-size: 17px;
}

.text_red {
    font-family: 'SFPro';
    font-weight: 400;
    font-size: 17px;
    color: var(--color-error);
}

.border_right {
    border-right: 1px solid var(--remove-modal);
}

.bandle_item {
    width: 100%;
    background-color: var(--background-main);
    border-radius: 28px;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 0 8px 0;
}

.bandle_head {
    width: 100%;
    height: 44px;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bandle_add_btn {
    height: 44px;
    padding: 0 16px;
    border: 2px var(--color-main) solid;
    border-radius: 40px;
    font-weight: 400;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.bandle_add_btn_icon {
    width: 22px;
    height: 20px;
    background-size: cover;
    background-image: url(icons/bandle_add_item.svg);
}

.bandle_item_content {
    overflow: auto;
    max-height: calc(100vh - 130px);
}

.bandle_items_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0 8px;
    position: relative;
}

.bandle_item_absolute {
    position: absolute !important;
    transition-duration:unset !important;
    border: 1px solid var(--background-main);
}

center {
    font-family: 'SFPro';
    font-weight: 400;
    font-size: 17px;
    color: var(--text-black);
}

.btn_zero {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn_bandle_edit {
    height: 41px;
    width: 45px;
    background-size: cover;
    background-image: url(icons/btn_bandle_edit.svg);
    gap: 0 8px;
}

.bandle_item_add_body {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    width: 376px;
    padding: 0 0 71px 0;
    gap: 0;
}

.bandle_item_add_head {
    background-color: var(--input-grey);
    padding: 0 8px;
}

.title_with_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.block_modal_add_item {
    width: 25px;
    height: 20px;
    background-size: cover;
    background-image: url(icons/block_modal_add_item.svg);
}

.block_add_item_block {
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}

.block_add_item_block:hover {
    opacity: 0.7;
}

.name_card_icon {
    width: 24px;
    height: 24px;
    background-size: cover;
    background-image: url(icons/name_card_icon.svg);
}

.block_add_item_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.block_add_item_name {
    font-family: 'SFPro';
    font-weight: 400;
    font-size: 17px;
    color: var(--color-main);
}

.block_add_item_description {
    font-family: 'SFPro';
    font-weight: 400;
    font-size: 13px;
    color: var(--text-grey);
}

.block {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
}

.block_content {
    flex: none;
    flex-grow: 1;
    border-radius: 20px;
    background-color: var(--body-main);
    overflow: hidden;
    transition-duration: 0.1s;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block_remove {
    width: 0px;
    overflow: hidden;
    background-color: red;
    transition-duration: 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
    cursor: pointer;
    border-radius: 20px;
    color: var(--body-main);
    font-family: 'SFPro';
    font-weight: 400;
    font-size: 17px;
    white-space: nowrap;
}

.name_block_content_small {
    width: 100%;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name_block_name_group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 60%;
    overflow: hidden;
}

.name_block_name {
    font-family: 'SFPro';
    font-weight: 600;
    font-style: 17px;
}

.name_block_pronouns {
    font-weight: 400;
    font-size: 11px;
    color: var(--text-grey);
}

.name_block_article {
    max-width: 40%;
    overflow: hidden;
    font-weight: 400;
    font-size: 15px;
}

.block_icon {
    width: 22px;
    height: 22px;
    background-size: cover;
} 

.social_block_icon {
    background-image: url(icons/social_block_icon.svg);
}

.add_field_container {
    width: 100%;
    padding: 16px;
    background-color: var(--input-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
    cursor: pointer;
}

.add_field_container:hover {
    opacity: 0.7;
}

.add_field {
    flex: none;
    flex-grow: 1;
    height: 44px;
    border: 2px dashed var(--color-dash);
    border-radius: 10px;
    padding: 0px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'SFPro';
    font-weight: 400;
    font-style: 17px;
    color: var(--add-field);
}

.icon_add {
    background-image: url(icons/icon_add.svg);
}

.link_container {
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
    cursor: pointer;
}

.link_field {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding-left: 16px;
    background-color: var(--input-grey);
    border-radius: 10px;
}

.link_input {
    padding: 0;
    flex: none;
    flex-grow: 1;
    font-size: 17px;
    font-weight: 400;
    max-width: calc(100% - 18px - 16px - 44px);
}

.link_icon {
    max-width: 17px;
    max-height: 18px;
    background-image: url(icons/link_icon.svg);
    flex: none;
    flex-grow: 0;
}

.link_input_btn {
    flex: none;
    flex-grow: 0;
}

.d_none {
    display: none !important;
}

.url_link_icon {
    min-width: 22px;
    min-height: 22px;
    border-radius: 50%;
}

.social_link_content {
    width: 100%;
    height: 100%;
    background-color: var(--input-grey);
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.social_link_item {
    height: 44px;
    border-radius: 10px;
    background-color: var(--body-main);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    flex-grow: 1;
    overflow: hidden;
    cursor: pointer;
}

.social_link_item:hover {
    opacity: 0.7;
}

.contacts_icon {
    background-image: url(icons/contacts_icon.svg);
}

.select_container {
    position: relative;
    background-color: var(--input-grey);
    border-radius: 10px;
    height: 44px;
    cursor: pointer;
}

.select_content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0 12px;
    cursor: pointer;
}

.view_hover:hover {
    opacity: 0.7
}

.drop_down_icon {
    width: 15px;
    height: 10px;
    background-image: url(icons/drop_down_icon.svg);
    background-size: contain;
}

i {
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}

.select_icon {
    height: 100%;
    width: 31px;
    padding: 0 4px;
    
}

.email_icon {
    background-size: 23px;
    width: 24px;
    height: 24px;
    background-image: url(icons/email_icon.svg);
    
}

.phone_icon {
    background-size: 20px;
    width: 24px;
    height: 24px;
    background-image: url(icons/phone_icon.svg);
}

.messenger_icon {
    background-size: 23px;
    width: 24px;
    height: 24px;
    background-image: url(icons/messenger_icon.svg);
}

.select_value {
    height: 100%;
    width: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select_menu {
    position: absolute;
    background-color: var(--body-main);
    border: 1px solid var(--input-grey);
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 16px;
    z-index: 4;
}

.select_menu_item {
    width: 100%;
    padding: 16px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.select_menu_item:hover {
    opacity: 0.7;
}

.select_menu_item + .select_menu_item {
    border-top: var(--input-grey) 1px solid;
}

.select_menu_icon {
    width: 22px;
    height: 22px;
}

.contact_input {
    padding: 0;
    flex: none;
    flex-grow: 1;
    font-size: 17px;
    font-weight: 400;
    max-width: calc(100% - 8px - 44px);
}

.contact_content {
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 33.5px;
}

.contact_item {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--input-grey);
    background-repeat: no-repeat;
    background-position: center;
}

.text_center {
    text-align: center;
}

.text_title {
    text-align: center;
}

.block_empty {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}





@media only screen and  (max-width: 767px) {
    .auth_content {
        width: 100%;
        max-width: 375px;
    }

    .content {
        width: 100%;
    }

    .modal_body {
        width: 90vw;
        max-width: 352px;
    }

    .reg_modal {
        top: auto;
        bottom: 0;
        border-radius: 20px 20px 0 0;
        width: 100vw;
        max-width: 375px;
    }

    .input_regisatration {
        width: calc(100% - 52px);
    }

    .modal_block_add {
        top: auto;
        bottom: 0;
    }

    .bandle_item_add_body {
        width: 100vw;
        max-width: none;
        border-radius: 28px 28px 0 0;
    }
}

@media (min-width: 768px) {
    .block:hover {
        gap: 8px;
    }
    
    .block:hover > .block_remove {
        width: 15px;
    }
    
    .block_remove:hover {
        padding: 8px;
        width: 89px !important;
        opacity: 0.7;
    }
}

.hover_modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal_sort_body {
    width: 175px;
    margin: 60px 0 0 16px;
    background-color: var(--body-main);
    border-radius: 10px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
}

.list_item {
    padding: 16px 0;
    width: 100%;
    text-align: start;
}

.list_item + .list_item {
    border-top: var(--input-grey) 1px solid;
}


